@import "tailwindcss";

@theme{
    --animate-slide-in-left: slide-in-left 0.8s ease-in-out forwards;
    --animate-scroll-up: scroll-up 18s linear infinite;
    @keyframes slide-in-left{
        0%{
            transform: translateX(100%);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes scroll-up{
        0%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-50%);
        }
    }
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Aggro{
    font-family: 'SBAggroB', sans-serif;
}